%div.post-comments
  %h3= 'Comments %s' % (post.comment_count > 0 ? '(%s)' % post.comment_count : '')
  - if comments.any?
    %ul.comments-list
      - for comment in comments
        %li.comment
          %p.comment-text= comment.comment
          %p.comment-meta
            = 'By %s' % comment.author_name
            = comment.created_at.strftime(global_settings.date_format)

  = semantic_form_for post do |f|
    = f.semantic_fields_for :comment do |comment|
      - comment.inputs do
        = comment.input :author_name, :label => "Your Name", :input_html => { :class => 'span5', :required => 'required'  }
        = comment.input :author_email, :label => "Your Email", :as => :email, :input_html => { :class => 'span5', :required => 'required'  }
        = comment.input :author_website, :label => "Your Website", :as => :url, :input_html => { :class => 'span5' }
        = comment.input :comment, :as => :text, :input_html => { :rows => 5, :class => 'span6'  }
        = comment.actions do
          = comment.action :submit, :button_html => { :class => "btn btn-info primary", :disable_with => 'Wait...', :value => 'Add Comment' }
