- if @posts.any?
  %div.posts
    - for post in @posts
      %article.post
        %header
          %h1.post-title= post.title
        %p.post-excerpt= post.excerpt
        %footer
          %p
            %span
              By
              = link_to post.author, author_url(post.author)
            %span= post.created_at.strftime(global_settings.date_format)
            %span= link_to 'Read More...', post_url(post.slug)
    = paginate @posts